#admin
    %ul
        %li.admin
            %a(href='/system/admin' title='Администрирование системы')
        %li.library
            %a(href='/help' data-notimplemented='true' data-notimplemented-text='Отображение справки по системе пока не реализовано' title='Справка')
        %li.power
            %a(href='/system/power' title='Выключение системы')
        %li.logoff
            %a(href='/logoff' title='Выход из системы')