#warnings-notify
    %p= "При проверке состояния системы выявлены проблемы (#{@warnings_count_popup})."
    %p
        %span Для просмотра информации о предупреждениях вы можете перейти на страницу
        %a(href='/system/state') обзора состояния системы
    %p Выявленные проблемы не должны повлиять на корректную работу системы, поэтому вы можете просто проигнорировать данное сообщение
    